* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: rgb(248, 221, 196);
  padding-top: 50px;
}
h2 {
  text-align: center;
  margin: 30px 0;
}

#lasttried{
    margin-bottom: 0px;
}

h3 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
h1 {
  background-color: white;
  padding: 20px;
  width: 150px;
  text-align: center;
  display: inline-block;
  border-radius: 20px;
  height: 40px;
}
div {
  justify-content: center;
  display: flex;
}
input {
  border-radius: 0px;
  padding: 5px;
  padding-left: 15px;
  font-size: large;
  border: none;
  border-radius: 10px 0px 0px 10px;
  /* border-right: 3px solid lightblue; */
}

button {
  border-radius: 0px;
  padding: 10px;
  box-shadow: none;
  border: none;
  /* border-bottom: 2px;
  border-top: 2px;
  border-right: 2px;
  border-left: 0px;
  border-color: #0060DF; */
  outline: 2px;
  outline-color: #0060DF;
  outline-style: solid;
  /* border-style: solid; */
  background-color: white;border-radius: 0px 10px 10px 0px;
  color: rgb(221, 22, 88);
  font-weight: 700;
  font-size: large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
